<div class="main container">

  <div class="sticky-wrapper stuck" style="height: 132px;"><div class="peek">
    <div class="ui vertical pointing secondary menu">
      <a class="item active">Profile</a>
      <a class="item">Recent Activity</a>
    </div>
  </div></div>

  <div class="example" style="margin-top: 4em">
    <%= render partial: 'users/avatar', locals: { user: @user } %>
    <h2 class="ui header"><%= @user.name %></h2>
    <p><%= @user.short_bio %></p>
  </div>

  <div class="ui piled feed segment">
    <h2 class="ui header">
      Recent Activity
    </h2>
    <% for activity in @user.activities.order('created_at desc').limit(15) %>
      <div class="event">
        <!-- <div class="label">
          <%= image_tag @user.profile_image %>
        </div> -->
        <div class="content">
          <div class="date">
            <time><%= distance_of_time_in_words_to_now(activity.created_at) %></time>
          </div>
          <div class="summary">
             <%= render_activity(activity, current_user: current_user) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
