<div class="main container" ng-controller="ProfileController">
  <%= render "sticky_wrapper" %>
  <%= render "profile_info" %>
  <%= render "account_buttons" %>
  <%= render "recent_activity" %>
  <%= render "comments/form" %>
</div>
