<div class="example" ng-controller='ProjectController' data-project="<%= project_json(project) %>">
  <h4 class="ui header">
    <%= link_to project.name, project_path(project) %>

    <div class="ui rating">
      <i class="icon"></i>
      <i class="icon"></i>
      <i class="icon"></i>
      <i class="icon"></i>
      <i class="icon"></i>
    </div>
  </h4>

  <div class="sub header"><%= project.short_description %></div>

  <div class="map-view" ng-class='{tucked:!isOpened}' ng-controller='MapsController' data-markers='<%= projects_json([project]) %>'>
    <div class="map-toolbar-one">
      <div class="show-map ui button" ng-click='show()'>Show map</div>
    </div>

    <div class="map-toolbar-two">
      <div class="show-map ui button" ng-click='close()'>x</div>
    </div>

    <div class="map-viewport">
      <es-google-map options='google.settings' refresh='google.refresh' extra='google.extra' styles='google.styles' style='height: 30rem;display:block;'></es-google-map>
    </div>
  </div>

  <div class="ui celled list">
    <% project.investments.each do |investment| %>
      <div class="item">
        <img src="<%= investment.user.profile_image %>">

        <div class="content">
          <div class="header"><%= investment.user.name %></div>
          <i>total badged trees: <%= investment.quantity %></i>
        </div>
      </div>
    <% end %>
  </div>
</div>

