<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title><%= t('.title') %></title>
    <meta charset="utf-8">
    <meta name="description" content="html meta description" />
    <meta name="keywords" content="html, meta, keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link type="text/css" rel="stylesheet" href="/css/fancybox.css">

    <%= yield :meta %>

    <%= javascript_include_tag "application"%>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- sensor=false tells google images we aren't trying to sense the user's location -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <%= analytics_init if Rails.env.production? %>

    <!--[if lte IE 8]> <%= stylesheet_link_tag "ie8" %><![endif]-->

    <%= stylesheet_link_tag '/css/semantic.min' %>
    <%= stylesheet_link_tag '/bxslider/jquery.bxslider.min' %>
  </head>

  <body id="example" class="index" ng-controller='ApplicationController'>
    <%= gflash %>

    <div class="ui fixed transparent inverted main menu">
      <div class="container">
        <%= render 'layouts/header' %>

        <div class="right menu">
          <%= render 'layouts/profile' %>
          <%= render 'layouts/github' %>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="ui divider"></div>

    <div class="ui divided horizontal footer link list">
      <a href="https://github.com/jlukic/Semantic-UI" class="item">Github</a>
      <a href="http://www.quirky.com" class="item">Quirky.com</a>
      <div class="item">jack lukic 2013</div>
    </div>

  </body>
</html>

